In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../boston-housing/train.csv')
df

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,500,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
329,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
330,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
331,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
332,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
df['age'].unique()

array([ 65.2,  78.9,  45.8,  54.2,  66.6,  94.3,  82.9,  39. ,  61.8,
        84.5,  56.5,  29.3,  36.6,  98.1,  89.2,  91.7, 100. ,  88.8,
        94.1,  96.9,  30.2,  21.8,  15.8,   6.6,   6.5,  40. ,  33.8,
        33.3,  85.5,  62. ,  45.7,  63. ,  21.4,  47.6,  21.9,  35.7,
        40.5,  29.2,  66.2,  93.4,  43.4,  59.5,  17.8,  31.1,  36.8,
         7.8,   6.2,   6. ,  45. ,  74.5,  33.5,  70.4,  46.7,  48. ,
        56.1,  45.1,  56.8,  86.3,  63.1,  66.1,  28.9,  77.3,  69.6,
        79.9,  71.3,  85.4,  87.4,  91.9,  85.2,  97.1,  91.2,  81.6,
        84.2,  72.5,  82.6,  73.1,  69.7,  84.1,  92.9,  97. ,  95.8,
        95.6,  96. ,  98.8,  97.7,  95.4,  98.4,  93.5,  98.2,  97.9,
        95.7,  93.8,  94.9,  97.3,  98.5,  94. ,  92.6,  90.8,  93.9,
        91.8,  93. ,  96.2,  79.2,  95.2,  94.6,  88.5,  68.7,  33.1,
        47.2,  73.4,  74.4,  58.4,  83.3,  62.2,  92.2,  53.6,  41.1,
        38.9,  21.5,  30.8,  26.3,   9.9,  18.8,  13.9,  38.4,  33.2,
        31.9,  22.3,  52.5,  59.1,  88.6,  32.3,   9.8,  56. ,  91.3,
        77.7,  80.8,  78.3,  83. ,  86.5,  68.1,  73.3,  66.5,  61.5,
        76.5,  54.3,  52.9,  34.9,  49.1,  17.5,  13. ,   8.9,   8.4,
        81.8,  89.4,  91.5,  94.5,  91.6,  62.8,  84.6,  52.6,  16.3,
        58.7,  51.8,  32.9,  32.2,  37.2,  49.7,  24.8,  20.8,  31.5,
        45.6,  27.9,  23.4,  18.4,  51. ,  58. ,  40.4,  17.7,  58.1,
        71.9,  82.5,  76.7,  37.8,  52.8,  90.4,  83.2,  71.7,  67.2,
        52.3,  40.1,  14.7,  43.7,  25.8,  38.1,  38.5,  46.3,  37.3,
        45.4,  58.5,  49.3,  59.7,  56.4,  28.1,  27.7,  29.7,  34.5,
        18.5,  97.4,  91. ,  83.4,  81.3,  88. ,  87.9,  91.4,  97.5,
        89.6,  93.3,  89.5,  98.9,  94.7,  89.1,  70.6,  78.7,  78.1,
        74.8,  95. ,  92.4,  97.2,  96.6,  94.8,  98.7,  99.3,  80.3,
        83.7,  84.4,  90. ,  88.4,  89.9,  65.4,  48.2,  84.7,  71. ,
        56.7,  90.7,  75. ,  93.6,  96.7,  64.7,  74.9,  40.3,  41.9,
        79.8,  53.2,  92.7,  98. ,  83.5,  54. ,  73.5,  69.1])